###### Editor debris ########

*.org
*~
¥#*

# spyder
.spyderproject/

# pycharm
**/.idea/

###### Python debris ########

*.pyc


###### Impl. specific debris ########

*.log


###### Work routines debris ########

**/build/
.python-version